<%- include ('includes/head') %>
<%- include ('includes/topbar') %>
<div class="container">
    <div class="row">
        <form class="col-md-8 offset-md-2 col-lg-6 offset-lg-3" action="/contact/update/<%= contact.id %>" method="post">
            <h3 class="font-weight-bold text-uppercase mb-4 text-center">Edit Contact</h3>
            <div class="card">
                <div class="card-body">
                    <% if (messages.error) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= messages.error %> 
                            <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                            </a>
                         </div>
                    <% } %>
                    <div class="form-group">
                        <label for="name" class="font-weight-bold">Name</label>
                        <input type="text" name="name" id="name" class="form-control" value="<%= contact.name %>">
                    </div>
                    <div class="form-group">
                        <label for="email" class="font-weight-bold">Email</label>
                        <input type="text" name="email" id="email" class="form-control" value="<%= contact.email %>">
                    </div> 
                    <div class="form-group">
                        <label for="phone" class="font-weight-bold">Phone</label>
                        <input type="number" name="phone" id="phone" class="form-control"  value="<%= contact.phone %>">
                    </div>  
                  <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<%- include ('includes/footer') %>